.background {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: rgba(128, 128, 128, .8);

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.alert {
  position: relative;
  background: white;
  padding: 2rem;
  border: 2px solid black;
  border-radius: .8rem;
  height: 110px;

  &:hover {
    cursor: default;
  }

  .buttonsBlock {
    position: absolute;
    right: 15px;
    bottom: 8px;
    width: 110px;
    display: flex;
    justify-content: space-between;

    %btn {
      width: 50px;
      padding: 0.4rem;
      background: none;
      border-radius: .5rem;

      &:hover {
        cursor: pointer;
        font-weight: bold;
        transition: .3s ease;
      }
    }

    .success {
      @extend %btn;
      border: 2px solid green;

      &:hover {
        background: lightgreen;
      }
    }

    .cancel {
      @extend %btn;
      border: 2px solid red;

      &:hover {
        background: lightcoral;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .alert {
    width: 95%;
  }
}
